body {
	font-family: Arial;
	font-size: 14pt;
}
.bold {
	font-weight: bold;
}
.red {
	color: red;
}
.italic {
	font-style: italic;
}

/* Slavic fonts */
@font-face {
	font-family: greek_font;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/lsans.ttf');
}

@font-face {
	font-family: greek_font;
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/lsansi.ttf');
}

@font-face {
	font-family: greek_font;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/lsansd.ttf');
}

@font-face {
	font-family: greek_font;
	font-style: italic;
	font-weight: bold;
	src: url('/fonts/lsansdi.ttf');
}

@font-face {
	font-family: slavonic_font;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/HirmUcs8.ttf');
}

@font-face {
	font-family: slavonic_font_ie;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/HirmIEUcs8.eot');
}

@font-face {
	font-family: slavonic_font;
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/HirmSoUcs8.ttf');
}

@font-face {
	font-family: slavonic_font_ie;
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/HirmSoIEUcs8.eot');
}

.cs-cs {
	font-family: "Hirmos ieUcs", slavonic_font, slavonic_font_ie;
	font-size: 18pt;
}
